Bottleneck
Brotli
certifi==2022.5.18.1
click
colorama
dash==2.4.1
dash-bootstrap-components==1.1.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-renderer==1.1.2
dash-table==5.0.0
Flask 
Flask-Compress
flatbuffers==1.12
future==0.18.2
gunicorn==20.1.0
itsdangerous 
Jinja2 
joblib==1.1.0
keras-nightly==2.5.0.dev2021032900
MarkupSafe 
numexpr 
numpy 
packaging 
pandas 
patsy==0.5.2
plotly 
pyparsing 
python-dateutil
pytz==2021.3
PyYAML==6.0
scikit-learn==1.1.1
scipy
six 
statsmodels==0.13.2
ta==0.10.1
tenacity 
threadpoolctl==3.1.0
Werkzeug 
wincertstore==0.2
